@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap')

$font: hsl(255, 11%, 22%)
$background: hsl(0, 0%, 92%)

*
  box-sizing: border-box
  font-family: 'Poppins', sans-serif
  color: $font

.App
  text-align: center
  padding: 5%
  font-size: 18px
  background-color: $background
